includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: max

    paths:
        - src

    treatPhpDocTypesAsCertain: false
   
    universalObjectCratesClasses:
        - Contao\Model
        - Contao\DataContainer
