.mejs__qualityselection-button,
.mejs-qualityselection-button {
    position: relative;
}

.mejs__qualityselection-button > button,
.mejs-qualityselection-button > button {
    background: url('../img/qualityselection.svg') transparent no-repeat;
    background-position: 0 1px;
}

.mejs__qualityselection-button .mejs__qualityselection-selector,
.mejs-qualityselection-button .mejs-qualityselection-selector {
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    -webkit-border-radius: 0;
            border-radius: 0;
    bottom: 40px;
    height: 100px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: -10px;
    width: 130px;
}

.mejs__qualityselection-selector ul,
.mejs-qualityselection-selector ul {
    display: block;
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.mejs__qualityselection-selector li,
.mejs-qualityselection-selector li {
    color: #fff;
    display: block;
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
}
.mejs__qualityselection-selector li:hover,
.mejs-qualityselection-selector li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.mejs__qualityselection-selector input,
.mejs-qualityselection-selector input {
    clear: both;
    opacity: 0;
    margin: 3px 3px 0 0;
}

.mejs__qualityselection-selector input[type='radio'] + label,
.mejs-qualityselection-selector input[type='radio'] + label {
    background-image: none;
}

.mejs__qualityselection-selector input[type='radio']:checked + label,
.mejs-qualityselection-selector input[type='radio']:checked + label {
    background: url("../img/check.png") 8px center no-repeat;
    -webkit-background-size: 12px 12px;
            background-size: 12px 12px;
}

.mejs__qualityselection-selector label,
.mejs-qualityselection-selector label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    padding: 4px 8px 0 0;
    font-weight: bold;
}

.mejs__qualityselection-selector label.current,
.mejs-qualityselection-selector label.current {
    color: #21f8f8;
}